@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail about site's privacy policy.</p>
<p>
    consectetur adipiscing elit. Nulla sit amet felis pellentesque, congue diam id, ornare magna. 
    Vestibulum feugiat ligula nec velit pharetra, nec gravida orci maximus. 
    Donec ut iaculis tellus. Sed eget pellentesque ex. Morbi ut purus felis. 
    Aenean eu leo vel nisl condimentum euismod non non nisi. 
    Praesent condimentum ipsum vitae sem feugiat, et faucibus justo mollis. 
    Nunc eu dignissim lacus, eu volutpat ligula. Integer ac ante at lectus fermentum finibus id in ex. Pellentesque dapibus lacinia urna, 
    et finibus justo. 
    Nam efficitur, metus sed sodales consectetur, sapien nisi condimentum massa, vel
    tempor ante velit eu neque. Morbi hendrerit ipsum sed diam faucibus malesuada. Integer 
    ac ornare tellus. Nam non ultricies ligula, ultrices facilisis libero. Proin sollicitudin 
    nec felis ac lobortis.

    Etiam mauris dolor, elementum at volutpat a, vulputate eget mauris. 
    Suspendisse potenti. Duis mattis ultrices imperdiet. Vivamus blandit at 
    justo in scelerisque. Nam et lobortis felis. Mauris enim lacus, tempor eget tincidunt a,
    pellentesque a arcu. Vivamus efficitur ac erat ac auctor. Morbi egestas tempor luctus. 
    Aenean et est odio. Ut eleifend, velit vel dignissim suscipit, neque mauris pretium ligula, 
    at efficitur sapien sapien viverra urna. Sed pellentesque ornare massa, non finibus ante commodo
    tincidunt.

    Nullam lacinia eleifend felis ut dignissim. Sed lacus erat, vehicula ac massa non,
    auctor commodo erat. Etiam varius neque nunc, feugiat tristique urna tempus eget. 
    Donec quis finibus neque. In faucibus blandit massa vel facilisis. Vestibulum ante 
    ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Phasellus id
    magna non diam cursus ultrices. Vestibulum sed tincidunt velit, nec condimentum ligula. 
    In ligula lectus, vestibulum ac tincidunt sit amet, aliquet eu purus. Etiam a scelerisque 
    ligula, vehicula consequat orci. Pellentesque id enim non erat semper iaculis vitae nec eros.
    Vivamus tempor euismod nulla, elementum sagittis dolor consectetur ut. Pellentesque habitant morbi
    tristique senectus et netus et malesuada fames ac turpis egestas.

    Pellentesque ultricies a sapien quis maximus. Sed pulvinar vestibulum suscipit. 
    Cras ac sem sed erat venenatis aliquam at sed turpis. Sed venenatis turpis non lectus fringilla,
    eu porttitor orci efficitur. Morbi et diam at orci gravida vehicula. Sed semper cursus arcu, vel
    molestie ante rutrum id. Pellentesque eleifend dictum purus sed gravida. Aenean in ante eros. 
    Sed in neque ut augue hendrerit aliquet et in leo. Proin vitae velit vestibulum mi dapibus aliquam
    vel ac urna. Phasellus eu rutrum quam. Nam ut diam eros. Fusce semper tristique laoreet. 
    Etiam pellentesque leo accumsan sagittis pretium.

    Maecenas sed mollis ex, at consectetur justo. Morbi ultricies, orci quis maximus venenatis,
    urna urna commodo arcu, ac dapibus metus turpis sit amet sem. Curabitur a purus ipsum. Ut sit
    amet velit eros. Suspendisse id est purus. Nullam tincidunt neque id ipsum sollicitudin lacinia.
    Sed varius lorem lacus, sit amet porttitor est tincidunt blandit. In luctus eget ante nec laoreet
    . Nunc a ultricies ex.
</p>



